version: '3.8'

services:
  mongodb:
    image: mongo:5.0
    container_name: gearguard-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    container_name: gearguard-api
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://admin:password@mongodb:27017/gearguard?authSource=admin
      - JWT_SECRET=gearguard-super-secret-key-2024
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: gearguard-web
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongodb_data: